@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

//defining variables
$h1: 50px;
$h2: 40px;
$h3: 30px;
$h4: 25px;
$h5: 22px;
$h6: 20px;
$p: 16px;
$a: 20px;

$text_color: #1A1A1A;

$primary_color: #ff5e46;
$primary-hover-color:#e6553f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//defining font sizes
$h: 50px,40px, 30px, 25px, 22px,20px,16px;
$x: 1;
@each $i in $h{

    h#{$x}{
        font-size: $i;
        font-family: 'Poppins', sans-serif;
    } 
    $x: $x + 1;
}  

h1,h2,h3{
    font-weight: 700;
}

p,a{
    font-family: 'Poppins', sans-serif;
}

button{
    background-color: $primary_color;    
    color: white;
    border: none;
}

#header{
    padding: 50px;
    .col-lg-9{
        display: grid;
        align-items: center;
    }
    #nav-contents{
        display: flex;
        
        .nav-items{
            margin: 0 25px 0 25px;
        }
        .active{
            font-size: $h2;
            font-weight: 700;
        }
    }
}

#body{
    .body-left-column{
        display: grid;
        align-items: center;
        div{
            h1{
                margin-bottom: 30px;
                span{
                    color: $primary_color;
                }
            }

            a{
                position: relative;

                background-color: $primary_color;
                padding: 15px 30px;
                font-size: $a;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
                -webkit-box-shadow: -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
                -moz-box-shadow:    -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
                box-shadow:         -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
            }

            a:hover{
                background-color: $primary-hover-color;
                transform: rotate(180deg);
                transition: all .5s ease-in-out;
            }
        }                
    }
}

