@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #1A1A1A;
}

h1, h2, h3 {
  font-weight: 700;
}

h4, h5, h6 {
  font-weight: 400;
}

p, a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

a {
  font-size: 16px;
}

.white {
  color: #FFFFFF;
}

button {
  background-color: #ff5e46;
  color: white;
  border: none;
}

#header {
  padding: 50px;
  height: 211px;
}

#header .col-md-5 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .col-md-5 #logo img {
  height: 68px;
}

#header .col-md-7 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .col-md-7 #nav-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#header .col-md-7 #nav-contents .nav-items {
  margin-top: 40px;
  margin-right: 30px;
}

#header .col-md-7 #nav-contents .active {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  top: -40px;
}

#header .col-md-7 #nav-contents .home-active {
  left: 90px;
}

#header .col-md-7 #nav-contents .service-active {
  left: 70px;
}

#header .col-md-7 #nav-contents .projects-active {
  left: 20px;
  width: 260px;
}

#header .col-md-7 #nav-contents .work-active {
  left: 50px;
  width: 260px;
}

#header .col-md-7 .burger {
  display: none;
}

#left-side {
  position: relative;
  z-index: 1;
  padding-left: 0px;
  padding-top: 20px;
}

#left-side .testimonial-items {
  position: fixed;
}

#left-side .testimonial-items .testimonial-box {
  -webkit-box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  margin-bottom: 20px;
  background-color: #FAFAFA;
  height: 60px;
  width: 70px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 5px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#left-side .testimonial-items .testimonial-box-click {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ff5e46;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  height: 230px;
  width: 300px;
  padding: 20px;
}

#left-side .testimonial-items .image {
  height: 50px;
  width: 50px;
  background-color: #474747;
  border-radius: 50%;
  float: right;
}

#left-side .testimonial-items .testimonial-content {
  display: none;
}

#left-side .testimonial-items .testimonial-content-show {
  display: block;
}

#body #homepage .homepage-left-column {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body #homepage .homepage-left-column div h1 {
  margin-bottom: 30px;
}

#body #homepage .homepage-left-column div h1 span {
  color: #ff5e46;
}

#body #homepage .homepage-left-column div .work-link-button {
  position: relative;
  background-color: #ff5e46;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
  box-shadow: -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
}

#body #homepage .homepage-left-column div a:hover {
  background-color: #e6553f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#body #homepage .homepage-right-column {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#body #homepage .homepage-right-column img {
  max-width: 400px;
  width: 100%;
}

#body #services {
  margin: 50px 0;
}

#body #services .row .service-box {
  overflow: hidden;
  padding: 0;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 261px;
}

#body #services .row .service-box .service-content {
  padding: 20px 0;
}

#body #services .row .service-box .service-content img {
  height: 138px;
}

#body #services .row .show-more {
  opacity: 0;
  background-color: #ff5e46;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#body #services .row .show-more-hover {
  top: 41px;
}

#body #services .row .service-box:hover {
  -webkit-box-shadow: -15px 26px 30px 0px rgba(255, 94, 70, 0.2);
  box-shadow: -15px 26px 30px 0px rgba(255, 94, 70, 0.2);
}

#body #services .row .service-box:hover .show-more-hover {
  top: 0px;
  cursor: pointer;
  opacity: 1;
}

#body #services .row .show-more-click {
  top: -220px;
  height: 100%;
  opacity: 1;
  cursor: pointer;
}

#body #services .row .service-description {
  margin-top: 10px;
}

#body #projects .row .project-box {
  height: 272px;
  background-position: center;
  background-size: contain;
  position: relative;
  padding: 20px;
  overflow: hidden;
}

#body #projects .row .project-box .project-description {
  position: relative;
  top: 193px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#body #projects .row .project-box .project-description h3 {
  padding-bottom: 10px;
}

#body #projects .row a:hover {
  cursor: pointer;
}

#body #projects .row a:hover .project-description {
  top: 100px;
}

#body #projects img {
  height: 178px;
}

#body #lets-work #contact-us p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #lets-work #contact-us i {
  font-size: 36px;
  margin-right: 10px;
}

#body #lets-work #contact-us .fa-phone-alt {
  color: #4aad4a;
}

#body #lets-work #contact-us .fa-envelope {
  color: #a0a0a0;
}

#body #lets-work #contact-us .fa-facebook-square {
  color: #3273ff;
}

#body #lets-work #contact-us .fa-instagram {
  color: #ff83ea;
}

#body #lets-work #contact-us .mail, #body #lets-work #contact-us .instagram, #body #lets-work #contact-us .phone-number, #body #lets-work #contact-us .facebook, #body #lets-work #contact-us .medium {
  margin-top: 50px;
}

#body #lets-work #map {
  margin-top: 30px;
}

#body #lets-work #map iframe {
  width: 100%;
  height: 347px;
}

#right-side {
  position: relative;
  padding-right: 0px;
}

#right-side .why-us-box {
  background-color: #ff5e46;
  position: fixed;
  float: right;
  top: 220px;
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  height: 70px;
  width: 80px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 5px;
}

#right-side .why-us-box .why-us-heading {
  margin: 19px 0 0 10px;
  font-size: 14px;
}

#right-side .why-us-box .why-us-all-contents {
  display: none;
}

#right-side .why-us-box .why-us-all-contents .why-us-content {
  padding: 20px;
  text-align: center;
}

#right-side .why-us-box .why-us-all-contents .why-us-content i {
  padding: 10px;
  font-size: 30px;
}

#right-side .why-us-box-click {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  height: 350px;
  width: 300px;
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  #all-contents {
    margin-top: 30px;
  }
  #header {
    padding: 50px;
    height: 211px;
  }
  #header .col-md-5 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header .col-md-5 #logo img {
    height: 68px;
  }
  #header .col-md-7 #nav-contents {
    margin-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header .col-md-7 #nav-contents .home-active {
    left: 35%;
  }
  #header .col-md-7 #nav-contents .service-active {
    left: 25%;
  }
  #homepage .homepage-left-column {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #homepage .homepage-left-column div h1 {
    margin-bottom: 30px;
    font-size: 25px;
  }
  #homepage .homepage-left-column div h1 span {
    color: #ff5e46;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
  }
  h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
  }
  h3 {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
  }
  h4 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
  }
  h5 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
  }
  h6 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }
  #header {
    padding: 0px;
  }
  #header .col-md-7 {
    margin-top: 30px;
  }
  #header .col-md-7 #nav-contents .nav-items {
    font-size: 14px;
  }
  #header .col-md-7 #nav-contents .active {
    font-size: 30px;
  }
  #right-side .why-us-box {
    top: 285px;
  }
  #right-side .why-us-box .why-us-all-contents .why-us-content {
    padding: 10px;
  }
  #right-side .why-us-box-click {
    height: 260px;
  }
}
/*# sourceMappingURL=style.css.map */