@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

h1 {
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}

h5 {
  font-size: 22px;
  font-family: 'Poppins', sans-serif;
}

h6 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

h7 {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: #1A1A1A;
}

h1, h2, h3 {
  font-weight: 700;
}

h4, h5, h6 {
  font-weight: 400;
}

p, a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

button {
  background-color: #ff5e46;
  color: white;
  border: none;
}

#header {
  padding: 50px;
  height: 211px;
}

#header .col-lg-4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .col-lg-8 {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #nav-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #nav-contents .nav-items {
  margin: 0 25px 0 25px;
  position: relative;
  top: 40px;
  right: 160px;
}

#header #nav-contents .active {
  font-size: 40px;
  font-weight: 700;
  position: relative;
  top: -40px;
  left: 120px;
}

.side-box {
  -webkit-box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(163, 159, 159, 0.75);
  margin-bottom: 20px;
  background-color: #FAFAFA;
  height: 60px;
  width: 70px;
}

.side-box:hover {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  background-color: #ff5e46;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  box-shadow: 0px 15px 30px 0px rgba(255, 94, 70, 0.75);
  height: 200px;
  width: 300px;
}

#left-side {
  padding-left: 0px;
}

#left-side .testimonial-box {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

#left-side .testimonial-box:hover {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#body #homepage .homepage-left-column {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #homepage .homepage-left-column div h1 {
  margin-bottom: 30px;
}

#body #homepage .homepage-left-column div h1 span {
  color: #ff5e46;
}

#body #homepage .homepage-left-column div a {
  position: relative;
  background-color: #ff5e46;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
  box-shadow: -14px 14px 30px 0px rgba(255, 94, 70, 0.5);
}

#body #homepage .homepage-left-column div a:hover {
  background-color: #e6553f;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#body #services .row div {
  padding: 40px;
  text-align: center;
}

#body #services .row div img {
  height: 138px;
}

#body #projects .row div {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

#body #projects img {
  height: 178px;
}

#body #lets-work #contact {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body #lets-work i {
  font-size: 45px;
}

#body #lets-work .fa-facebook-square {
  color: #4646FF;
}

#body #lets-work .fa-envelope {
  color: #AAAAAA;
}

#body #lets-work .fa-phone-alt {
  color: #47CD54;
}

#right-side {
  padding-right: 0px;
}

#right-side .why-us-box {
  float: right;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

#right-side .why-us-box:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
/*# sourceMappingURL=style.css.map */