@mixin box($name, $first_top, $second_top, $padding) {
    .#{$name}-box {
        height: 272px;
        background-position: center;
        background-size: cover;
        background-repeat: none;
        position: relative;
        padding: 20px;
        overflow: hidden;
        .#{$name}-description {
            position: relative;
            top: $first_top;
            transition: 0.5s all;
            h3 {
                padding-bottom: $padding;
            }
        }
    }
    a:hover {
        cursor: pointer;
        .#{$name}-description {
            top: $second_top;
        }
    }
    img {
        height: 178px;
    }
}