<div id="homepage">
    <div class="row">
        <div class="col-md-6 col-xs-12 homepage-left-column wow animate__animated animate__rotateInDownLeft">
            <div>
                <h1>We design and build beautiful <span>websites.</span></h1>
                <a href="#">Let's work</a>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 homepage-right-column wow animate__animated animate__rotateInUpRight">
            <img src="../images/illustrations/Landing_page.png" alt="">
            
        </div>
    </div>
</div>