<div class="testimonial-items">
    <div class="side-box testimonial-box">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">John Doe</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
    <div class="side-box testimonial-box">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">John Doe</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
    <div class="side-box testimonial-box">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">John Doe</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
</div>

