<div class="testimonial-items">
    <div class="testimonial-box" data-clicked="false">
        <div class="image" style="background-image: url('https://res.cloudinary.com/cubedsteps/image/upload/v1607582647/cubedsteps-site-images/96797370_2553158404944492_2441427176763949056_n_iamo8c.jpg');">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Prakash Bartaula</h4>
            <p class="primary-light-color"><i>- Co-Founder InsightJet</i></p>
            <p class="white small-text testimonial">"We built website with them. Nice product, delivered on time with reasonable price. Looking to work again very soon."</p>
        </div>
    </div>
    <div class="testimonial-box" data-clicked="false">
        <div class="image" style="background-image: url('https://res.cloudinary.com/cubedsteps/image/upload/v1607582648/cubedsteps-site-images/296185_2234342011357_1263545941_n_lo8osr.jpg');">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Peter Morony</h4>
            <p class="primary-light-color"><i>- Co-Founder Paxsafe Pty Ltd</i></p>
            <p class="white small-text testimonial">They [Cubed Steps] created just what I wanted. They paid good attention to understanding my problem and then created a solution for the problem. They also helped me choose a better channel manager and payment solutions for Paxsafe.</p>
        </div>
    </div>
    <!-- <div class="testimonial-box" data-clicked="false">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Samuel Jackson</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div> -->
</div>

