<div class="testimonial-items">
    <div class="testimonial-box" data-clicked="false">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Samuel Jackson</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
    <div class="testimonial-box" data-clicked="false">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Samuel Jackson</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
    <div class="testimonial-box" data-clicked="false">
        <div class="image">         
        </div>
        <div class="testimonial-content">
            <h4 class="white">Samuel Jackson</h4>
            <p class="white"><i>-Ceo of Lorem</i></p>
            <p class="white small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum</p>
        </div>
    </div>
</div>

