<div id="lets-work" class="container-fluid">
    <div id="contact-us" class="row">
        <div class="col-md-5">
            <div class="phone-number row animate__animated animate__fadeInLeft justify-content-center">
                <a href="#">
                    <div class="col-12">
                        <p class="">
                            <i class="fas fa-phone-alt"></i>
                        +977-9182057182</p>
                    </div>
                </a>
            </div>
            <div class="mail row animate__animated animate__fadeInLeft animate__delay-1s  justify-content-center">
                <a href="#">
                    <div class="col-12">
                        <p class="">
                            <i class="fas fa-envelope"></i>
                        info@cubedsteps.com</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="facebook row animate__animated animate__fadeInLeft animate__delay-2s  justify-content-center">
                <a href="#">
                    <div class="col-12">
                        <p class="">
                            <i class="fab fa-facebook-square"></i>
                        Facebook</p>
                    </div>
                </a>
            </div>
            <div class="instagram row animate__animated animate__fadeInLeft animate__delay-3s  justify-content-center">
                <a href="#">
                    <div class="col-12">
                        <p class="">
                            <i class="fab fa-instagram"></i>
                        Instagram</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="medium row animate__animated animate__fadeInLeft animate__delay-4s  justify-content-center">
                <a href="#">
                    <div class="col-12">
                        <p class="">
                            <i class="fab fa-medium"></i>
                        Medium</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="map" class="row animate__animated animate__fadeIn animate__delay-4s">
        <div class="col-12">
        <iframe class="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14128.005405703296!2d85.32395955!3d27.71724455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb37ed9b2bd9155f!2sImago%20Dei%20Cafe%20Gallery!5e0!3m2!1sen!2snp!4v1605264971753!5m2!1sen!2snp" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>