<div id="projects">
    <div class="row">
        <div class="col-md-6">
            <div class="col-lg-12" style="background-image: url('/images/our-projects/insightjet.png');">
                <p>asd</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/images/our-projects/jyatha.png" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="/images/our-projects/paxsafe.png" alt="">
        </div>
    </div>
</div>