<div id="projects">
    <div class="row">
        <div class=" col-md-6 animate__animated animate__fadeInUp">
            <a href="https://insightjet.com/" add target="_blank" class="col-lg-12">
                <div class="project-box" style="background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
            url('https://res.cloudinary.com/cubedsteps/image/upload/v1606818174/cubedsteps-site-images/InsightJet_ldafvh.png');">
            <div class="project-description">                
                <h3 class="white">InsightJet</h3>
                <p class="white">liquam iaculis lorem quis nibh lobortis, vitae venenatis risus commodo. Nunc pellentesque enim pharetra elit congue, a commodo purus semper. Nulla facilisi.</p>
            </div>
            </div>
            </a>
        </div>
        <div class=" col-md-6 animate__animated animate__fadeInUp animate__delay-1s">
            <a href="http://jyatha.com/" add target="_blank" class="col-lg-12">
                <div class="project-box" style="background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
            url('https://res.cloudinary.com/cubedsteps/image/upload/v1606818185/cubedsteps-site-images/Jyatha_mdpbli.png');">
            <div class="project-description">                
                <h3 class="white">Jyatha</h3>
                <p class="white">liquam iaculis lorem quis nibh lobortis, vitae venenatis risus commodo. Nunc pellentesque enim pharetra elit congue, a commodo purus semper. Nulla facilisi.</p>
            </div>
            </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class=" col-md-6 animate__animated animate__fadeInUp animate__delay-2s">
            <a href="https://paxsafe.com.au/" add target="_blank" class="col-lg-12">
                <div class="project-box" style="background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)),
            url('https://res.cloudinary.com/cubedsteps/image/upload/v1606818199/cubedsteps-site-images/Paxsafe_na0t0v.png');">
            <div class="project-description">                
                <h3 class="white">PaxSafe</h3>
                <p class="white">liquam iaculis lorem quis nibh lobortis, vitae venenatis risus commodo. Nunc pellentesque enim pharetra elit congue, a commodo purus semper. Nulla facilisi.</p>
            </div>
            </div>
            </a>
        </div>
    </div>
</div>