<div class="why-us-box">
    <p class="white why-us-heading">Why Us?</p>

    <div class="why-us-all-contents">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="white">Why us?</h6>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-6 why-us-content">
                    <p class="why-us-description white">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-6 why-us-content">
                    <p class="why-us-description white">Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 why-us-content">
                    <p class="why-us-description white">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="col-6 why-us-content">
                    <p class="why-us-description white">Lorem ipsum dolor sit amet</p>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12 why-us-content">
                    <p class="white small-text">
                        Cubed Steps is a team of specialized IT professionals who have worked 
                        previously on various projects independently or with partners. With Cubed 
                        Steps, we will take care of all your IT related services so that you could 
                        focus on growing your business. Since the establishment, the primary focus of 
                        the team has been its client and their satisfaction. With cubed steps, we promise 
                        you cubed results to every effort you put in.  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


