<div class="why-us-box">
    <p class="white why-us-heading">Why Us?</p>

    <div class="why-us-all-contents">
        <h5 class="white">Why us?</h5>
        <div class="container">
            <div class="row">
                <div class="col-6 why-us-content">
                    <i class="far fa-hourglass white"></i>
                    <p class="why-us-description white">24/7 support</p>
                </div>
                <div class="col-6 why-us-content">
                    <i class="far fa-hourglass white"></i>
                    <p class="why-us-description white">24/7 support</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 why-us-content">
                    <i class="far fa-hourglass white"></i>
                    <p class="why-us-description white">24/7 support</p>
                </div>
                <div class="col-6 why-us-content">
                    <i class="far fa-hourglass white"></i>
                    <p class="why-us-description white">24/7 support</p>
                </div>
            </div>
        </div>
    </div>
</div>


