<div id="services">
        <div class="row">
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="service-content">
                                <img height="" width="" src="../images/illustrations/Product_development.png" alt="">
                                <h4>Product Development</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <p class="white">Show more</p>
                                <p class="service-description white">Be it a web application or a mobile application, Cubed steps is your place. A dedicated team of engineers and experts in product engineering are always there to assist you technically in your business. You handle all your Marketing and Sales and we’ll handle your product development.</p>
                        </div>
                </div>
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp animate__delay-1s">
                        <div class="service-content">
                                <img src="../images/illustrations/Search_engine_visualization.png" alt="">
                                <h4>Search Engine Optimization</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <p class="white">Show more</p>
                                <p class="service-description white">Be it a web application or a mobile application, Cubed steps is your place. A dedicated team of engineers and experts in product engineering are always there to assist you technically in your business. You handle all your Marketing and Sales and we’ll handle your product development.</p>
                        </div>
                </div>
        </div>

        <div class="row">                
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp animate__delay-2s">
                        <div class="service-content ">
                                <img src="../images/illustrations/E_commerce.png" alt="">
                                <h4>E-Commerce</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <p class="white">Show more</p>
                        </div>
                </div>
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp animate__delay-3s">
                        <div class="service-content">
                                <img src="../images/illustrations/Data_analysis_and_visualization.png" alt="">
                                <h4>Data Analytics and Visualization</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <p class="white">Show more</p>
                        </div>
                </div>        
        </div>
</div>