<div id="services">
        <div class="row">
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp">
                        <div class="service-content">
                                <img height="" width="" src="https://res.cloudinary.com/cubedsteps/image/upload/v1606875702/cubedsteps-site-images/Product_development_e8iopx.png" alt="">
                                <h4>Product Development</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <div class="show-more-btn">
                                        <p class="show-more-text white">Show more</p>
                                        <i class="fas fa-angle-up show-more-arrow white"></i>
                                </div>
                                <p class="service-description white">
                                        Be it a web application or a mobile application, Cubed steps is your place. A dedicated team of engineers and experts in product engineering are always there to assist you technically in your business. You handle all your Marketing and Sales and we’ll handle your product development.
                                </p>
                        </div>
                </div>
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp">
                        <div class="service-content">
                                <img src="https://res.cloudinary.com/cubedsteps/image/upload/v1606875724/cubedsteps-site-images/Search_engine_visualization_uhr1wh.png" alt="">
                                <h4>Search Engine Optimization</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <div class="show-more-btn">
                                        <p class="show-more-text white">Show more</p>
                                        <i class="fas fa-angle-up show-more-arrow white"></i>
                                </div>
                                <p class="service-description white">
                                        The world is moving fast. Thousands of websites get registered in a day. You need to fight this battle, optimize your site as per search algorithms and get on top of that search result.
                                </p>
                        </div>
                </div>
        </div>

        <div class="row">                
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp">
                        <div class="service-content ">
                                <img src="https://res.cloudinary.com/cubedsteps/image/upload/v1606875674/cubedsteps-site-images/E_commerce_a6ajib.png" alt="">
                                <h4>E-Commerce</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <div class="show-more-btn">
                                        <p class="show-more-text white">Show more</p>
                                        <i class="fas fa-angle-up show-more-arrow white"></i>
                                </div>
                                <p class="service-description white">
                                        Online shopping has a trillion dollar market in the US alone. Rise of E-commerce has skyrocketed so high in the past decade that we can only imagine where this is going to lead. E-commerce is a huge application that will not only let you add your products and show it to your customers but will also handle your stock management, vendor management, sales management and provide many other reports you need to grow your efficiency.
                                </p>
                        </div>
                </div>
                <div class="col-lg-6 service-box animate__animated animate__fadeInUp">
                        <div class="service-content">
                                <img src="https://res.cloudinary.com/cubedsteps/image/upload/v1606875668/cubedsteps-site-images/Data_analysis_and_visualization_aq6i5a.png" alt="">
                                <h4>Data Analytics and Visualization</h4>
                        </div>
                        <div class="show-more show-more-hover">
                                <div class="show-more-btn">
                                        <p class="show-more-text white">Show more</p>
                                        <i class="fas fa-angle-up show-more-arrow white"></i>
                                </div>
                                <p class="service-description white">
                                        Data is the new oil and no one is denying that. Managing a huge amount of data and keeping it safe is a big challenge.
                                </p>
                        </div>
                </div>        
        </div>
</div>