<div id="services">
        <div class="row">
                <div class="col-lg-6">
                        <img src="../images/illustrations/Product Development.png" alt="">
                        <h4>Product Development</h4>
                </div>
                <div class="col-lg-6">
                        <img src="../images/illustrations/Search Engine Visualization.png" alt="">
                        <h4>Search Engine Optimization</h4>
                </div>
        </div>

        <div class="row">                
                <div class="col-lg-6">
                        <img src="../images/illustrations/E-commerce.png" alt="">
                        <h4>E-Commerce</h4>
                </div>
                <div class="col-lg-6">
                        <img src="../images/illustrations/Data analysis and Visualization.png" alt="">
                        <h4>Data Analytics and Visualization</h4>
                </div>        
        </div>
</div>